<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chiroptera.Win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Chiroptera.Win.Properties.Settings>
            <setting name="MainFont" serializeAs="String">
                <value>Lucida Console, 9.75pt</value>
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="LastVersionCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="MainWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </Chiroptera.Win.Properties.Settings>
    </userSettings>
</configuration>